.forma{
    margin: 0 auto;
    background-color: antiquewhite;
    width:70%;   
}
form{
    margin-left: 45%;
}
#checkapp{
    margin: 0 auto;
    background-color: antiquewhite;
    width:70%;
      
}